@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    display: flex;
    justify-content: center;
    background: #f9f9f9;
}

.container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -2px #cccccc;
}

.canvas {
    display: inline-block;
    cursor: default;
    border: 1px solid gainsboro;
}

.row {
    height: 16px;
}

.grid-element {
    display: inline-block;
    height: 14px;
    min-width: 14px;
    background: white;
    border: 1px solid gainsboro;
}

.palette {
    display: inline-block;
    position: relative;
    width: 80px;
    padding-left: 20px;
}

.swatch, .user-swatch {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 1000px;
    margin: 5px;
    cursor: pointer;
    transition: all 185ms ease;
}

.user-swatch {
    position: absolute;
    right: 6px;
}

.swatch:hover, .user-swatch:hover {
    transform: scale(1.18);
}

.utility-container {
    position: relative;
    display: flex;
    align-items: center;
}

.utility {
    cursor: pointer;
    display: inline-block;
    font-family: "Lato", sans-serif;
    color: #b1b1b1;
    text-transform: uppercase;
    font-size: 0.75em;
}

.utility:hover {
    color: #8c8989;
}

.resize, .reset {
    margin-right: 10px;
}

.brush-color-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.brush-color {
    margin: 5px 20px 5px 8px;
    height: 40px;
    width: 40px;
    border-radius: 5000px;
    border: 2px solid gainsboro;
}

.paintbucket {

}

.resize-params-container {
    position: relative;
    transform: translate(-310px);
    overflow: hidden;
    transition: transform 275ms ease;
}

.visible {
    transform: translate(0);
}

.transition-container {
    overflow-x: hidden;
}

.size-label {
    display: inline-block;
    position: relative;
    bottom: 7px;
    width: 16px;
    font-family: "Lato", sans-serif;
    color: #b1b1b1;
    text-transform: uppercase;
    font-size: 0.75em;
}

/*** Swatch Colors ***/

.navy {
    background: #001f3f;
}

.blue {
    background: #0074d9;
}

.aqua {
    background: #7fdbff;
}

.teal {
    background: #39cccc;
}

.olive {
    background: #3d9970;
}

.green {
    background: #2ecc40;
}

.lime {
    background: #01ff70;
}

.yellow {
    background: #ffdc00;
}

.peach {
    background: #f3e79b;
}

.orange {
    background: #ff851b;
}

.red {
    background: #ff4136;
}

.maroon {
    background: #85144b;
}

.fuchsia {
    background: #f012be;
}

.purple {
    background: #b10dc9;
}

.sandstone {
    background: #9e7d5a;
}

.brown {
    background: #563e25;
}

.black {
    background: #111111;
}

.gray {
    background: #aaaaaa;
}

.white {
    background: #ffffff;
    border: 1px solid gainsboro;
}

.eraser {
    background: -moz-linear-gradient(top, rgba(230,121,137,1) 0%, rgba(230,121,137,1) 35%, rgba(246,163,170,1) 37%, rgba(246,163,170,1) 100%);
    background: -webkit-linear-gradient(top, rgba(230,121,137,1) 0%, rgba(230,121,137,1) 35%, rgba(246,163,170,1) 37%, rgba(246,163,170,1) 100%);
    background: -o-linear-gradient(top, rgba(230,121,137,1) 0%, rgba(230,121,137,1) 35%, rgba(246,163,170,1) 37%, rgba(246,163,170,1) 100%);
    background: -ms-linear-gradient(top, rgba(230,121,137,1) 0%, rgba(230,121,137,1) 35%, rgba(246,163,170,1) 37%, rgba(246,163,170,1) 100%);
    background: linear-gradient(to bottom, rgba(230,121,137,1) 0%, rgba(230,121,137,1) 35%, rgba(246,163,170,1) 37%, rgba(246,163,170,1) 100%);
}

.user-selected {
    visibility: hidden;
}

.user-swatch {
    background: linear-gradient(135deg, rgba(255,0,132,1) 0%, rgba(201,69,197,1) 100%);
    background: -moz-linear-gradient(-45deg, rgba(255,0,132,1) 0%, rgba(201,69,197,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,0,132,1) 0%, rgba(201,69,197,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,0,132,1) 0%, rgba(201,69,197,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,0,132,1) 0%, rgba(201,69,197,1) 100%);
}
